.title{
	height:350px;
	width:85%;
	margin-left:0;
	float:left;
	padding-left:165px;

}

.jumbo{
	width:1140px;
	height:395px; 
	position:absolute;	
}
.logo{
	position:relative;	
	margin-top:90px;
	margin-left:200px;
	height:200px;
	width:550px;

}

#design{

	height:250px;
	width:380px;
	margin-top:95px;
	float:left;
}
#develop{
	height:250px;
	width:380px;
	margin-top:95px;

}
#standout{
	height:250px;
	width:380px;
	margin-top:95px;
	float:right;

}
#socialize{
	clear:both;
	height:250px;
	width:380PX;
	margin-top:-249px;
	float:left;
}
#produce{
	height:250px;
	width:380px;
	margin-top:-249px;

	float:left;

}
#animate{
	height:250px;
	width:380px;
	margin-top:-1px;
	float:right;
}
#color{
	background-color:lightgrey;
}

#digitize{
	clear:both;
	height:250px;
	width:380px;
	margin-top:0px;
	float:left;

}
#influence{

height:250px;
	width:380px;
	margin-top:-1px;
}

#share{
	height:250px;
	width:380px;
	margin-top:-268px;
	




