

.title{
	height:350px;
	width:85%;
	margin-left:0;
	float:left;
	padding-left:165px;

}

.jumbo{
	padding-top:15px;
	width:1140px;
	height:395px; 
	position:absolute;	
}
.logo{
	position:relative;	
	margin-top:90px;
	margin-left:225px;
	height:200px;
	width:550px;
	border: bottom 2px white;

}

#design{

	height:244px;
	width:381px;
	margin-top:102px;
	float:left;
	position:absolute;
}


#white{
	color:white;
	size:19px;
	text-align:center;
	position:relative;
}
	
#develop{
	height:250px;
	width:380px;
	margin-top:95px;


}
#standout{
	height:250px;
	width:380px;
	margin-top:95px;
	float:right;e
}
#socialize{
	clear:both;
	height:250px;
	width:380PX;
	margin-top:-249px;
	float:left;
}
#produce{
	height:250px;
	width:380px;
	margin-top:-249px;

	float:left;

}
#animate{
	height:250px;
	width:380px;
	margin-top:-1px;
	float:right;
}
#color{
	background-color:lightgrey;
}

#digitize{
	clear:both;
	height:250px;
	width:380px;
	margin-top:0px;
	margin-left:2ppx;
	float:left;

}
#influence{

height:250px;
	width:380px;
	margin-top:-1px;
}

#share{
	height:250px;
	width:380px;
	margin-top:-268px;
	
}
#communicate{

clear:both;
	height:250px;
	width:380px;
	margin-top:-18px;
	padding-bottom:15px;
	float:left;

}
#convert{
	height:250px;
	width:380px;
	margin-top:-18px;
	padding-bottom:15px;

}

#analyze{
height:250px;
	width:380px;
	margin-top:-20px;
	padding-bottom: 15px;
float:right;

}

